<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ receita.nome }}</title>
</head>
<body>
    <h1>{{ receita.nome }}</h1>
    <br>
    <div>Ingedientes: {{ receita.ingredientes }}</div>
    <br>
    <div>Modo de preparo:{{ receita.modo_de_preparo }}</div>
    <br>
    <div>Grau de dificuldade:{{ receita.grau_de_dificuldade }}</div>

</body>
</html>